<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="homepage.css">
</head>

<body class="container">

<%= render "header" %>


    <!--Crest-->

    <hr>
    <h3 class="crest"><b>CREST: Physics Project</b></h3>
    <div class="center">
      <%= image_tag("crest.png", width: 150) %>
    </div>

    <p>
      CREST is the British Science Association's scheme for STEM project work. I am exploring physics simulations within games.
    </p>
    <p>
      I am looking at investigating and demonstrating how realistic physical simulations are
      accurately implented into games such as <i>Half life</i> and <i>Portal</i>. My time exploring different mechanics within my <i>Galactic</i>
      and <i>Limtol</i> projects led to further interest in this topic.
    </p>

    <hr>

     <h3 class="crest"><b>Galactic</b></h3>
    <div class="center">
      <%= image_tag("Gameplay.JPG", width: 350) %>
    </div>

    <p>
      Galactic is a game I made using the Pygame module within Python. I intended to emulate a space invaders like game.
    </p>
    <p>
      This included coding the input of the user, movement and collision of objects, and functional menu and suitable game modes.
    </p>

    <hr>
    <h3 class="crest"><b>Limtol</b></h3>
    <div class="center">
      <%= image_tag("Limtol.JPG", width: 350) %>
    </div>

    <p>
Limtol is a two-player game, currently under development also using Pygame within python. I created my own models for the objects, coding two-player inputs.
      I am currently implementing the collision mechanics, level layouts and scoring system.
    </p>

    <hr>

    <h3 class="crest"><b>Discord Bot</b></h3>
    <div class="center">
      <%= image_tag("bot.JPG", width: 350) %>
    </div>

    <p>
    I made this primarily for entertainment purposes in Discord, an instant messaging platform. I used a range of python modules, such as Discord,
      OS and Requests. I utilised a website providing free 24/7 serves to run the bot. The program looks for specific inputs, for it to then perform a specific function.
    </p>

    <hr>


    <h3 class="crest"><b>Ping Pong</b></h3>
    <div class="center">
      <%= image_tag("pong.JPG", width: 350) %>
    </div>

    <p>
    This game has been made with the <i>Pygame</i> module in Python. For this, I had to program two inputs for two players,
      collision mechanics, and a scoring system also was coded to show the points for each player. If a player scores, the ball resets to the middle.
    </p>

    <hr>


    <h3 class="crest"><b>Product Webscraper</b></h3>
    <div class="center">
      <%= image_tag("web.JPG", width: 350) %>
    </div>

    <p>
    Using Python modules such as Requests and Beautiful Soup, I made a program that fetches the price of an Amazon product.
      This relates to HTML, as the code looks for a specific HTML tag, taking the value between tags (prices), and send this to any email.
    </p>

    <hr>


    <h3 class="crest"><b>Calculator</b></h3>
    <div class="center">
      <%= image_tag("calc.JPG", width: 150) %>
    </div>

    <p>
    Using the Python module <i>Kivy</i>, I made a calculator for everyday use. I focused on making the user interface look simple
       and calculations to be performed correctly.
    </p>

    <hr>


    <h3 class="crest"><b>Password Generator</b></h3>
    <div class="center">
      <%= image_tag("password.JPG", width: 350) %>
    </div>


    <p>
      I created this program using the Tkinter module in Python. It generates a specific number of random characters,
      depending on the option chosen by the user.
    </p>
    <hr>

</body>


</body>
</html>
